<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The Foosball Online Tracker is an
  <a href="http://www.lunarlogic.io/portfolio">sample application</a>
  bulit on
  <a href="http://rubyonrails.org/">Ruby on Rails</a>
  for the Internship needs.
</p>