<footer class="footer">
  <small>
    The <a href="http://www.lunarlogic.io/">Foosball Online Tracker</a>
    by <a href="https://github.com/Justak/Foosballapp.git/">Justyna Krygier</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://blog.lunarlogic.io/">News</a></li>
    </ul>
  </nav>
</footer>